body{
    background-color: #f0efe7;
    margin:0 auto;
    padding: 0px;
}
a {
    text-decoration: none;
    outline: none;
}
a:hover {
    text-decoration: none;
    outline: none;
}
a:active {
    text-decoration: none;
    outline: none;
    color: lightskyblue;
}
a:visited {
    text-decoration: none;
    outline: none;
}
.nav-top a span {
    padding-left: 20%;
    display: block;
    height: 36px;
    line-height: 36px;
    color: #e2c8ca;
    background-color: #a21414;
}
.nav-top .col-md-4 {
    padding-right: 25%;
    background-color: #a21414;
}
.nav-top .col-md-3 {
    padding-right: 18%;
    background-color: #a21414;
}
.nav-top a span:hover {

    background-color: #872424;
}

header .row .nav{
    margin-bottom: -20px;
}

.navhear {
    height: 36px;
    background-color: #a21414;
    color: #e2c8ca;
    line-height: 36px;
}

.searchbox {
    height: 128px;
    background-color: #dbd7ba;
}

.searchform {
    padding-top: 25px;
    background-color: #dbd7ba;
}

.search-input {
    float: left;
    border: 2px solid #c6bb6c;
    background-color: #f0efe7;
    margin-top: 15px;
    padding-left: 10px;
    width: 80%;
    max-width: 460px;
    min-width: 240px;
    height: 48px;
    font-size: 18px;
}
.search-btn {
    float: left;
    border: 2px solid #c6bb6c;
    background-color: #c6bb6c;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    color: #f0efe7;
}

.nav{
    background-color: #f0efe7;
}
.nav li {
    margin-top: 10px;
    float: left;
    height: 80px;
    line-height: 48px;
    font-weight: 500;
    font-size: 20px;
    color: black;
    margin-left: 24px;
}

.nav .active a {
    margin-top: 5px;
    margin-bottom: 20px;
    border-bottom: 3px solid #dbd7ba;
    color: black;
}

.nav li a:hover{
    /*margin-bottom: 16px;*/
    border-bottom: 3px solid #dbd7ba;
    background-color: #dbd7ba;
}

.design {
    text-align: center;
    font-size: 10px;
}